{deps, [
	{'parse_trans', ".*", {git, "git://github.com/uwiger/parse_trans.git", {branch, "master"}}},
	{'json_rec', ".*", {git, "git://github.com/justinkirby/json_rec.git", {branch, "master"}}},
    {goldrush, ".*", {git, "git://github.com/DeadZen/goldrush.git","master"},[raw]},

    {lager, ".*", {git, "git://github.com/basho/lager.git","master"},[raw]},	
	
	{exmpp, ".*", {git, "git://github.com/processone/exmpp.git", "v0.9.9"}, [raw]},
	
	{cowlib, ".*", {git, "git://github.com/extend/cowlib.git", "0.1.0"}},
	{ranch, ".*", {git, "git://github.com/extend/ranch.git", "0.8.5"}}
]}.
