[
{amqp_connection, [ 
  {username, <<"spark">>},
  {password, <<"spark">>},
  {virtual_host, <<"/">>},
  {host, "172.16.210.115"},
  {port, 5672},
  {isnetworkconnect, true}
]},
{amqp_exchange, [
  {ticket,0},
  {exchange, <<"im.conversation.durable">>},
  {type, <<"topic">> },
  {passive, false},
  {durable, true},
  {auto_delete, false},
  {internal, false},
  {nowait, false},
  {arguments, []}
]},
 {amqp_queue,[
   {qticket, 0},
   {queue, <<"chat.durable">>},
   {qpassive, false},
   {qdurable, true},
   {qexclusive, false},
   {qauto_delete, false},
   {qnowait, false},
   {routing_key,<<"spark.chat">>},
   {qarguments, []}
 ]},
 {app_env,
  [{transform_module, chat_message_model},
   {publisher_confirm, false},
   {consumer_confirm, false},
   
  {restart_timeout, 5000}]}
].
