{release, {rest_stream_response_example, "1"}, [rest_stream_response]}.
{extended_start_script, true}.

{sys_config, "rel/sys.config"}.
{overlay, [
	{mkdir, "log"},
	{mkdir, "priv"},
	{mkdir, "database"},
    {copy, "priv/ejabberd_rest_api.config",
        "releases/\{\{release_name\}\}-\{\{release_version\}\}/priv/ejabberd_rest_api.config"},
    {copy, "rel/sys.config",
        "releases/\{\{release_name\}\}-\{\{release_version\}\}/sys.config"},
    {copy, "rel/app.config",
        "releases/\{\{release_name\}\}-\{\{release_version\}\}/app.config"},
        
    {copy, "rel/vm.args",
        "releases/\{\{release_name\}\}-\{\{release_version\}\}/vm.args"}
        
]}.
