[{cluster_master, 'ejabberd@chat64.ejabberddev.localdomain'},
 {host, <<"socialstream.stgv3.spark.net">>},
 {environment, <<"chat.stgv3.spark.net">>},
 {vhost, <<"chat.stgv3.spark.net">>},
 {refresh_interval, 3000},
 {table_clone_type, 'ram_copies'},	
 {ejab_table, ['http_bind', 'session', 'session_counter']},
 {start_type, permanent},	
 {port, 8080},
 {nb_acceptors, 5},
 {listen_interface, "eth0"},
 {listen_ip, "192.168.3.200"},
 {listen_port, 8085},
 {log_dir,"log"} 
].
